/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* ESTILO AL BODY Y FUENTE GENERAL */
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    margin: 25px;
    background-color: black;
    color: darkgray;
}

/* SEPARANDO UN POCO EL HEADER DEL CONTENIDO PRINCIPAL Y ACOMODANDO LOGO Y NAV CON FLEX */
header {
    background-color: black;
    border-bottom: 4px white solid;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ACHICANDO UN POCO EL LOGO QUE CONSEGUÍ */
.logo {
    /* height: 100px;
    width: 240px; */
    height: 10vh;
}

/* ESCONDIENDO EL H1 */
h1 {
    display: none;
}

/* ESTILO A LOS LINKS */
a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(128, 128, 128, 0.397);
}

/* ESTILO A LOS LINKS DEL NAV */
nav a {
    font-weight: bold;
    text-decoration: none;
    color: #F3FCFC;
}

/* SEPARANDO UN POCO EL NAV DEL BORDE */
nav {
    margin-right: 50px;
}

/* ITEMS DE LA LISTA DE LINKS DEL NAV */
nav li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

/* ACÁ CENTRANDO EL BOTÓN DEL INDEX CON FLEX Y SEPARANDO DEL HEADER Y FOOTER. AGREANDO IMÁGEN DE FONDO */
.mainIndex {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/4GJESMZCFFDWRPHQ2YNZGFGS4I.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* ACÁ ESTILO Y GRID PARA ORDENAR LOS PÁRRAFOS HISTORIA. OCULTO LA IMÁGEN DE FONDO PORQUE NO CONSIGO UNA QUE ME HAGA BUEN CONTRASTE CON LOS TEXTOS */
.mainHistoria {
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    /* height: 600px;
    background-image: url(../img/fondo2.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; */
    display: grid;
    grid-template-areas:
        "historia1 historia2"
        "historia3 historia3"
    ;
}

/* FOOTER */
footer {
    border-top: 4px white solid;
    padding-top: 20px;
    text-align: center;
}

footer ul li {
    list-style-type: none;
}

/* PÁRRAFOS HISTORIA */
.historia1 {
    padding: 20px;
    grid-area: historia1;
}

.historia2 {
    padding: 20px;
    grid-area: historia2;
}

.historia3 {
    padding: 20px;
    grid-area: historia3;
}

/* ESTILO AL BOTÓN DEL MAIN + TRANSFORMACIÓN Y TRANSICIÓN */
.boton {
    color: darkgray;
    padding: 12px 24px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to top right, black, #2B2B2B, #535353, #8F8E8E);
    border: 0;
    border-radius: 30px;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .4s;
}

.boton:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.boton:active {
    transform: translateY(3px);
}

/* MEDIA QUERIES: MOSTRANDO HISTORIAS EN 1 SOLA COLUMNA. NO CONSEGUÍ HACER RESPONSIVE EL BACKGROUND IMAGE DEL INDEX, POR ESO LO OCULTO */
@media (max-width: 650px) {
    .mainIndex {
        background-image: none;
    }

    .mainHistoria {
        display: grid;
        grid-template-areas: 
        "historia1"
        "historia2"
        "historia3";
    }

}