@charset "UTF-8";
/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu&display=swap");
/* ESTILO AL BODY Y FUENTE GENERAL */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  position: relative;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: darkgray;
}

/* IMÁGEN DE FONDO PARA EL INDEX */
.containerIndex {
  background-image: url(../img/fondo3.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: darkgray;
}

/* ESTILO A LOS LINKS */
a {
  font-weight: bold;
  text-decoration: none;
  color: rgba(128, 128, 128, 0.397);
}

/* SEPARANDO UN POCO EL HEADER DEL CONTENIDO PRINCIPAL Y ACOMODANDO LOGO Y NAV CON FLEX */
header {
  background-color: transparent;
  padding: 20px;
  display: flex;
}

/* ACHICANDO UN POCO EL LOGO QUE CONSEGUÍ */
.logo {
  height: 10vh;
}

/* ESCONDIENDO EL H1 */
h1 {
  display: none;
}

nav {
  margin: 0;
  /* ESTILO A LOS LINKS DEL NAV */
  /* ITEMS DE LA LISTA DE LINKS DEL NAV */
}
nav a {
  font-size: 23px !important;
  text-decoration: none;
  color: white !important;
  font-family: "Anton", sans-serif !important;
}
nav li {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

/* ACÁ CENTRANDO EL BOTÓN DEL INDEX CON FLEX Y SEPARANDO DEL HEADER Y FOOTER. AGREANDO IMÁGEN DE FONDO */
.mainIndex {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* ESTILO AL BOTÓN DEL MAIN + TRANSFORMACIÓN Y TRANSICIÓN */
.boton {
  color: darkgray;
  padding: 12px 24px;
  font-size: 40px;
  font-weight: 700;
  background-image: linear-gradient(to top right, black, #2B2B2B, #535353, #8F8E8E);
  border: 0;
  border-radius: 30px;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}
.boton:hover {
  cursor: pointer;
  transform: translateY(-3px);
}
.boton:active {
  transform: translateY(3px);
}
.boton a {
  color: white;
}

/* ACÁ ESTILO Y GRID PARA ORDENAR LOS PÁRRAFOS HISTORIA. */
.mainHistoria {
  text-align: center;
  display: grid;
  grid-template-areas: "historia1 imagen1" "imagen2 historia2" "historia3 imagen3";
}

/* CENTRANDO Y ESTILO PÁRRAFOS HISTORIA */
.historia1 {
  padding: 40px;
  height: 100vh;
  width: 50vw;
  grid-area: historia1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.historia1 h2 {
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.historia1 p {
  padding-left: 40px;
  padding-right: 40px;
}

.historia2 {
  padding: 40px;
  grid-area: historia2;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.historia2 h2 {
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.historia2 p {
  padding-left: 40px;
  padding-right: 40px;
}

.historia3 {
  padding: 40px;
  grid-area: historia3;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.historia3 h2 {
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.historia3 p {
  padding-left: 40px;
  padding-right: 40px;
}

/* AJUSTANDO IMÁGENES */
.imagen1 {
  grid-area: imagen1;
}
.imagen1 img {
  width: 50vw;
  height: 100vh;
}

.imagen2 {
  grid-area: imagen2;
}
.imagen2 img {
  width: 50vw;
  height: 100vh;
}

.imagen3 {
  grid-area: imagen3;
}
.imagen3 img {
  width: 50vw;
  height: 100vh;
}

.mainEventos {
  text-align: center;
  padding: 40px;
}
.mainEventos h2 {
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.mainEventos h3 {
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.mainEventos p {
  padding-left: 40px;
  padding-right: 40px;
}

/* FOOTER */
footer {
  border-top: 4px white solid;
  padding-top: 20px;
  text-align: center;
  background-color: black;
  position: absolute;
  min-width: 100%;
}
footer ul li {
  list-style-type: none;
}

/* AJUSTANDO EL FORM DE EVENTOS EN VISTA ESCRITORIO */
@media (min-width: 768px) {
  .containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formEventos {
    width: 60%;
  }
  .botonEventos {
    width: 30%;
  }
}
/* ACOMODANDO A VISTA TABLET */
@media (max-width: 768px) {
  /* ACOMODANDO MENÚ HAMBURGUESA HACIA LA IZQUIERDA CON FLEX */
  header {
    display: flex;
    justify-content: space-between;
  }
  /* OCULTANDO IMÁGENES Y AJUSTANDO LOS TAMAÑOS */
  .mainHistoria {
    background-image: none;
    background-color: black;
    display: grid;
    grid-template-areas: "historia1" "historia2" "historia3";
  }
  .mainHistoria .historia1 {
    height: auto;
    width: auto;
  }
  .mainHistoria .historia1 p {
    padding: 0;
  }
  .mainHistoria .historia2 {
    height: auto;
    width: auto;
  }
  .mainHistoria .historia2 p {
    padding: 0;
  }
  .mainHistoria .historia3 {
    height: auto;
    width: auto;
  }
  .mainHistoria .historia3 p {
    padding: 0;
  }
  .mainHistoria .imagen1 img {
    display: none;
  }
  .mainHistoria .imagen2 img {
    display: none;
  }
  .mainHistoria .imagen3 img {
    display: none;
  }
}

/*# sourceMappingURL=estilo.css.map */
