.mainContacto {
    text-align: center;
    padding: 40px;

    h2 {
        font-weight: 700;
        text-transform: uppercase;
    }

    p {
        padding-left: 40px;
        padding-right: 40px;
    }
}