/* ESTILO A LOS TEXTOS */
.mainEventos {
    text-align: center;
    padding: 40px;

    h2 {
        @include subtitulos;
    }

    h3 {
        @include subtitulos;
        font-size: 20px;
    }

    p {
        padding-left: 40px;
        padding-right: 40px;
    }
}