/* ESTILO AL BODY Y FUENTE GENERAL */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $font1;
    font-size: 15px;
    margin: 25px;
    background-color: $bg-color1;
    color: $font-color;
}

/* ESTILO A LOS LINKS */
a {
    font-weight: bold;
    text-decoration: none;
    color: $link-color;
}