/* SEPARANDO UN POCO EL HEADER DEL CONTENIDO PRINCIPAL Y ACOMODANDO LOGO Y NAV CON FLEX */
header {
    background-color: transparent;
    padding: 20px;
    display: flex;
}

/* ACHICANDO UN POCO EL LOGO QUE CONSEGUÍ */
.logo {
    height: 10vh;
}

/* ESCONDIENDO EL H1 */
h1 {
    display: none;
}

nav {
    margin: 0;

    .container-fluid {
        display: flex !important;
        flex-wrap: inherit !important;
        align-items: center !important;
        justify-content: flex-end !important;
        text-align: end;
    }

    /* ESTILO A LOS LINKS DEL NAV */
    a {
        font-size: 23px !important;
        text-decoration: none;
        color: $navlink-color !important;
        font-family: $font2 !important;
    }

    /* ITEMS DE LA LISTA DE LINKS DEL NAV */
    li {
        display: inline-block;
        margin: 5px;
        padding: 5px;
    }
}