/* MIXIN */
@mixin historias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    height: 100vh;
    width: 50vw;

    h2 {
        padding-bottom: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    p {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@mixin imagenHistorias {
    width: 50vw;
    height: 100vh;
}

/* ACÁ ESTILO Y GRID PARA ORDENAR LOS PÁRRAFOS HISTORIA. */
.mainHistoria {
    text-align: center;
    display: grid;
    grid-template-areas:
        "historia1 imagen1"
        "imagen2 historia2"
        "historia3 imagen3";
}

/* CENTRANDO Y ESTILO PÁRRAFOS HISTORIA */
.historia1 {
    grid-area: historia1;
    @include historias;
}

.historia2 {
    grid-area: historia2;
    @include historias;
}

.historia3 {
    grid-area: historia3;
    @include historias;
}

/* AJUSTANDO IMÁGENES */
.imagen1 {
    grid-area: imagen1;

    img {
        @include imagenHistorias;
    }
}

.imagen2 {
    grid-area: imagen2;

    img {
        @include imagenHistorias;
    }
}

.imagen3 {
    grid-area: imagen3;

    img {
        @include imagenHistorias;
    }
}