/* ACÁ CENTRANDO EL BOTÓN DEL INDEX CON FLEX Y SEPARANDO DEL HEADER Y FOOTER. AGREANDO IMÁGEN DE FONDO */
.mainIndex {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}