/* AJUSTANDO EL FORM DE EVENTOS EN VISTA ESCRITORIO */
@media (min-width: 768px) {

    .containerForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formEventos {
        width: 60%
    }

    .botonEventos {
        width: 30%;
    }
}

/* ACOMODANDO A VISTA TABLET */
@media (max-width: 768px) {

    /* ACOMODANDO MENÚ HAMBURGUESA HACIA LA IZQUIERDA CON FLEX */
    header {
        display: flex;
        justify-content: space-between;
    }

    /* OCULTANDO IMÁGENES Y AJUSTANDO LOS TAMAÑOS */
    .mainHistoria {
        background-image: none;
        background-color: black;
        display: grid;
        grid-template-areas:
            "historia1"
            "historia2"
            "historia3";

        .historia1 {
            height: auto;
            width: auto;

            p {
                padding: 0;
            }
        }

        .historia2 {
            height: auto;
            width: auto;

            p {
                padding: 0;
            }
        }

        .historia3 {
            height: auto;
            width: auto;

            p {
                padding: 0;
            }
        }

        .imagen1 {
            img {
                display: none;
            }
        }

        .imagen2 {
            img {
                display: none;
            }
        }

        .imagen3 {
            img {
                display: none;
            }
        }
    }


}